*{
text-transform: uppercase;
text-align:center;
}
.card{
  background:  pink;
  width:  30%;
  margin: auto;
  padding: 2px  0px 2px 0px;
  border-radius:5px;
  box-shadow: 2px 2px 2px green;
}
img{
  width:50%;
}
.cards{

  display: flex;
}
/* media queries */
@media   (min-device-width:350px)
and (max-device-width:480px){
  .cards{
    width:100%;
    flex-wrap: wrap;
    margin:1% 0 0 0;
  }
  .card{
    width: 98%;
    margin-top: 2em;
  }
}
